:root {
  --primary: #fff;
}

.btn--primary {
  background-color: var(--primary);
  color: black;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color: #ff5400;
  color: #fff;
}

.btn--medium:hover,
.btn--large:hover {
  background: #fff;
  color: #ff5400;
  transition: all 0.3s ease-out;
}
