.carousel {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 490px;
  background-color: #e0e1dd;
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #617d98;
}

.carousel-img {
  width: 100%;
  padding: 0 20px 0 20px;
  border-radius: 50px 20px;
}

.carousel-title {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  text-align: center;
}

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: #000;
}

@media screen and (max-width: 960px) {
  .carousel {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .carousel-item {
    display: flex;
    flex-direction: column;
    background-color: #e0e1dd;
  }

  .carousel-buttons {
    display: none;
  }
}
